/*Name: Bob Borsboom
Student number: 10802975
Programming project

styles the barchart
*/

.d3-tipbar{
	line-height: 1;
	font-weight: bold;

	/*set pop up box size*/
	padding: 12px;

	/*set pop up box color*/
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

#kip {
	/*geel*/
	fill: #A1887F;
}

#varken {
	/*blauw*/
	fill: #F48FB1;
}

#overig {
	/*bruin*/
	fill: #FF8A65;
}

#kalkoen {
	/*lime*/
	fill: #D4E157;
}

#kip:hover {
	fill: black;
	cursor: pointer;
}

#varken:hover {
	fill: black;
	cursor: pointer;
}

#overig:hover {
	fill: black;
	cursor: pointer;
}

#kalkoen:hover {
	fill: black;
	cursor: pointer;
}

#bardiv {
	padding-top: 90px;
	position: absolute;
	left: 100px;
	top: 50px;
	width: 1200;
    height: 600px;
}

/*info about my name and studentnummber in the head of the page*/
#bob_info_main {
	font-size: 17px;	
	position: absolute;
	left: 1200px;
	top: 20px;
	
}