.d3-tipbar{
	line-height: 1;
	font-weight: bold;

	/*set pop up box size*/
	padding: 12px;

	/*set pop up box color*/
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;

}


#kip {
	/*geel*/
	fill: #5C6BC0;
}

#varken {
	/*blauw*/
	fill: #FFCA28;
}

#overig {
	/*bruin*/
	fill: #8D6E63;
}

#kalkoen {
	/*lime*/
	fill: #D4E157;
}



#kip:hover {
	fill: black;
	cursor: pointer;
}
#varken:hover {
	fill: black;
	cursor: pointer;
}
#overig:hover {
	fill: black;
	cursor: pointer;
}
#kalkoen:hover {
	fill: black;
	cursor: pointer;
}
#bardiv {
	width: 1200;
    height: 600px;
	float: left;

}
