/*Name: Bob Borsboom
Student number: 10802975
Programming project

styles the map and logs the current place
*/

.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

#provincie:hover {
	fill: black;
	cursor: pointer;
}

#mapdiv {
	width: 950px;
	height: 950px;
	float: left;
}

.log_province {
    position: absolute;
    left: 100px;
    top: 200px;

}

.log_province{
    position: absolute;
    right: 10px;
}
